* {
    margin: 0;
    box-sizing: border-box;

    --border-radius-1: 15px;
    --border-radius-2: 10px;

    --accent: #6396f4;
    --accent-hovered: #77a6f7;
    --error-color: #bb0000;

    --subtext-color: gray;

    --bkg-color: white;
    --bkg-color-alt: #f8f8f8;
    --accent-text-color: white;
    --border-color: lightgray;

    --large-text-1: 32px;
    --large-text-2: 26px;
    --large-text-3: 22px;
    --large-text-4: 20px;
    --large-text-5: 18px;
    --large-text-6: 16px;

    --regular-text: 16px;
    --small-text: 14px;

    --pfp-post-size: 42px;

    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: var(--large-text-1);
    font-weight: bold;
}

h2 {
    font-size: var(--large-text-2);
    font-weight: bold;
}

h3 {
    font-size: var(--large-text-3);
    font-weight: bold;
}

h4 {
    font-size: var(--large-text-4);
    font-weight: bold;
}

h5 {
    font-size: var(--large-text-5);
    font-weight: bold;
}

h6 {
    font-size: var(--large-text-6);
    font-weight: bold;
}

p {
    font-size: var(--regular-text);
}

.errorText {
    color: var(--error-color);
    font-size: 14px;
}

.page-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
}

.page {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex: 1;
}

.post-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
        margin-bottom: 10px;
    }

    & .mid-reply-runner {
        margin-left: 35px;
        width: 1px;
        height: 20px;
        background-color: var(--border-color);
    }

    & .reply-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px;
        flex-grow: 1;

        p {
            margin-left: calc(var(--pfp-post-size) + 15px);
            font-weight: bold;
        }

        & .reply-bottom {
            display: flex;
            gap: 15px;
            flex-grow: 1;
            & img {
                width: var(--pfp-post-size);
                height: var(--pfp-post-size);
                border-radius: 50%;
                border: solid 1px var(--border-color);
                background-color: var(--bkg-color);
            }
        }

        & .reply-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
        }

        & .runner {
            position: absolute;
            top: 0;
            left: calc(var(--pfp-post-size) / 2 + 14px);
            width: 1px;
            height: 64px;
            background-color: var(--border-color);
            z-index: -1;
        }
    }
}

.post {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 15px;
    width: 100%;

    & .content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-grow: 1;

        & .header {
            display: flex;
            gap: 15px;

            & .profile-pic-container {
                display: flex;
                align-items: center;
                background-color: var(--bkg-color);

                & img {
                    width: var(--pfp-post-size);
                    height: var(--pfp-post-size);
                    border-radius: 50%;
                    border: solid 1px var(--border-color);
                }
            }

            & .poster-info {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                & .username {
                    font-weight: bold;
                }

                & .handle {
                    color: var(--subtext-color);
                    font-size: var(--small-text)
                }
            }

            & .time-info {
                color: var(--subtext-color);
                font-size: var(--small-text);
            }
        }

        & .body {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-left: calc(var(--pfp-post-size) / 2 + 36px);
        }
    }

    & .runner {
        position: absolute;
        top: 0;
        left: calc(var(--pfp-post-size) / 2 + 14px);
        width: 1px;
        height: 100%;
        background-color: var(--border-color);
        z-index: -1;
    }
}

.op-post {
    border: solid 1px lightgray;
    border-radius: var(--border-radius-1);
}

.new-post-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    & form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .form-group {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        & label {
            font-weight: bold;
            font-size: var(--large-text-3);
        }

        & .category-select-container {
            display: flex;
            gap: 10px;
            align-items: center;

            & .select-group-container {
                display: flex;
                flex-direction: column;
                flex: 1;

                & label {
                    font-size: var(--regular-text);
                }
            }
        }

        & .post-textarea {
            height: 400px;
        }
    }
}


.button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    color: var(--accent-text-color);
    border-radius: var(--border-radius-2);
    padding: 8px 16px;
    font-weight: bold;
    user-select: none;
    transition: background-color 80ms;

    &:hover:not(:disabled) {
        cursor: pointer;
        filter: brightness(1.15);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: lightgray;
    }
}

.textbox {
    all: unset;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-1);
    padding: 10px;
    flex-grow: 1;
}

.selectbox {
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-1);
    padding: 10px;
    flex-grow: 1;
}

.post-textarea {
    all: unset;
    height: 200px;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-1);
    padding: 10px;
    resize: none;
    flex-grow: 1;
}

.right-side-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

pre {
    background-color: var(--bkg-color-alt);
    padding: 10px 15px;
    border-radius: var(--border-radius-1);

    & code {
        font-family: monospace;
    }
}
