* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --border-radius-1: 15px;
    --border-radius-2: 10px;
    --border-radius-3: 5px;

    --accent: #6396f4;
    --accent-hovered: #77a6f7;
    --error-color: #bb0000;

    --subtext-color: gray;

    --bkg-color: white;
    --bkg-color-alt: #f8f8f8;
    --accent-text-color: white;
    --border-color: lightgray;

    --large-text-1: 32px;
    --large-text-2: 28px;
    --large-text-3: 22px;
    --large-text-4: 20px;
    --large-text-5: 18px;
    --large-text-6: 16px;

    --regular-text: 16px;
    --small-text: 14px;
    --xsmall-text: 12px;

    --pfp-post-size: 42px;

    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: var(--large-text-1);
    font-weight: bold;
}

h2 {
    font-size: var(--large-text-2);
    font-weight: bold;
}

h3 {
    font-size: var(--large-text-3);
    font-weight: bold;
}

h4 {
    font-size: var(--large-text-4);
    font-weight: bold;
}

h5 {
    font-size: var(--large-text-5);
    font-weight: bold;
}

h6 {
    font-size: var(--large-text-6);
    font-weight: bold;
}

p {
    font-size: var(--regular-text);
}

.root {
    display: flex;
}

.errorText {
    color: var(--error-color);
    font-size: 14px;
}

.page-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.page {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex: 1;
}

.post-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
        margin-bottom: 10px;
    }

    & .mid-reply-runner {
        margin-left: 35px;
        width: 1px;
        height: 20px;
        background-color: var(--border-color);
    }

    & .reply-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px;
        flex-grow: 1;

        p {
            margin-left: calc(var(--pfp-post-size) + 15px);
            font-weight: bold;
        }

        & .reply-bottom {
            display: flex;
            gap: 15px;
            & img {
                width: var(--pfp-post-size);
                height: var(--pfp-post-size);
                border-radius: 50%;
                border: solid 1px var(--border-color);
                background-color: var(--bkg-color);
            }
        }

        & .reply-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
        }

        & .runner {
            position: absolute;
            top: 0;
            left: calc(var(--pfp-post-size) / 2 + 14px);
            width: 1px;
            height: 64px;
            background-color: var(--border-color);
            z-index: -1;
        }
    }
}

.post {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 15px;
    width: 100%;

    & .content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-grow: 1;

        & .header {
            display: flex;
            gap: 15px;

            & .profile-pic-container {
                display: flex;
                align-items: center;
                background-color: var(--bkg-color);

                & img {
                    width: var(--pfp-post-size);
                    height: var(--pfp-post-size);
                    border-radius: 50%;
                    border: solid 1px var(--border-color);
                }
            }

            & .poster-info {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                & .username {
                    font-weight: bold;
                }

                & .handle {
                    color: var(--subtext-color);
                    font-size: var(--small-text)
                }
            }

            & .time-info {
                color: var(--subtext-color);
                font-size: var(--small-text);
            }
        }

        & .body {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-left: calc(var(--pfp-post-size) / 2 + 36px);
        }
    }

    & .runner {
        position: absolute;
        top: 0;
        left: calc(var(--pfp-post-size) / 2 + 14px);
        width: 1px;
        height: 100%;
        background-color: var(--border-color);
        z-index: -1;
    }

    & .popup-menu-container {
        position: relative;
    }
}

.op-post {
    border: solid 1px lightgray;
    border-radius: var(--border-radius-1);
}

.new-question-container {
    display: flex;
    gap: 20px;
    width: 100%;

    & form {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 20px;

        & .form-group {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        & label {
            font-weight: bold;
            font-size: var(--large-text-5);
        }

        & .category-select-container {
            display: flex;
            gap: 10px;
            align-items: center;

            & .select-group-container {
                display: flex;
                flex-direction: column;
                flex: 1;

                & label {
                    font-size: var(--regular-text);
                }
            }
        }

        & .post-textarea {
            height: 300px;
        }
    }
}


.button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    color: var(--accent-text-color);
    border-radius: var(--border-radius-2);
    padding: 8px 16px;
    font-weight: bold;
    user-select: none;
    transition: background-color 80ms, filter 80ms;

    &:hover:not(:disabled) {
        cursor: pointer;
        filter: brightness(1.15);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: lightgray;
    }

    &.danger {
        background-color: var(--error-color);
        color: white;

        &:disabled {
            filter: opacity(0.2);
        }
    }

    &.transparent {
        background-color: transparent;
        border: solid 1px var(--border-color);
        color: black;

        &:hover:not(:disabled) {
            background-color: var(--bkg-color-alt);
            filter: none;
        }
    }

    &.icon {
        padding: 8px;
        background-color: transparent;
        transition: background-color 80ms;
        border-radius: var(--border-radius-2);
        color: black;

        &:hover:not(:disabled) {
            cursor: pointer;
            background-color: var(--bkg-color-alt);
            filter: none;
        }
    }
}

.textbox {
    all: unset;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-1);
    padding: 10px;
    flex-grow: 1;
}

.selectbox {
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-1);
    padding: 10px;
    flex-grow: 1;
}

.post-textarea {
    all: unset;
    height: 200px;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-1);
    padding: 10px;
    resize: none;
    flex-grow: 1;
}

.right-side-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

pre {
    background-color: var(--bkg-color-alt);
    padding: 10px 15px;
    border-radius: var(--border-radius-1);

    & code {
        font-family: monospace;
    }
}

.popup-menu {
    position: absolute;
    right: 0;
    background-color: var(--bkg-color);
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-2);
    padding: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 0 5px #00000011;
    min-width: 125px;

    & .popup-option {
        all: unset;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 3px 12px;
        border-radius: var(--border-radius-3);
        transition: background-color 80ms;

        &:hover {
            cursor: pointer;
            background-color: var(--bkg-color-alt);
        }
    }
}

.modal-bkg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000044;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bkg-color);
    padding: 30px;
    border-radius: var(--border-radius-1);
    width: 500px;

    & .header {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.toast {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #00000011;
    background-color: var(--bkg-color);
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-1);
    animation: toast-intro 200ms;
}

@keyframes toast-intro {
    0% {
        transform: translateX(-50%) translateY(calc(10px + 100%));
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes toast-outro {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(calc(10px + 100%));
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 275px;
    padding: 25px 15px;
    border-right: solid 1px var(--border-color);
    font-size: var(--large-text-5);

    --button-side-padding: 15px;

    & h1 {
        font-size: var(--large-text-1);
        font-weight: bold;
        padding-left: var(--button-side-padding);

        & a {
            text-decoration: none;
            color: black;
        }
    }

    & .nav-buttons {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
        list-style-type: none;
        height: 100%;

        & li {
            display: flex;
        }

        & a {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px var(--button-side-padding);
            width: 100%;
            color: black;
            text-decoration: none;
            user-select: none;
            border-radius: var(--border-radius-2);
            font-weight: bold;
            border: solid 1px transparent;
            transition: background-color 80ms, color 80ms, border-color 80ms;

            & img {
                width: 24px;
                height: 24px;
            }

            &:hover:not(.active) {
                border-color: var(--border-color);
            }

            &.active {
                background-color: var(--accent);
                color: var(--accent-text-color);

                & img {
                    filter: invert(100%);
                }
            }
        }
    }

    & .navbar-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /*padding-left: var(--button-side-padding);*/

        & h2 {
            font-size: var(--large-text-6);
            /*color: var(--subtext-color);*/
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style-type: none;
            padding-left: 0;
        }

        & a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }

            & p {
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    & .notifications {
        & .notification-content {
            color: var(--subtext-color);
        }
    }

    & .recent-browsing {
        & .new-content-notif {
            padding-left: 15px;
            color: var(--subtext-color);
        }
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

    & .left-side {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    & p {
        color: var(--subtext-color);
    }

    & .top-right-buttons {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.divider {
    height: 1px;
    background-color: var(--border-color);
    width: 100%;
}

.labelled-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: var(--border-radius-1);
    border: solid 1px var(--border-color);
    padding: 25px;

    & h3 {
        font-size: var(--large-text-4);
        color: var(--subtext-color);
    }

    & ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        list-style-type: none;
        padding-left: 0;
    }
}

.category {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;

    & a {
        text-decoration: none;
        color: black;
        text-wrap: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        &:hover {
            text-decoration: underline;
        }
    }

    & .cat-name {
        font-size: var(--large-text-6);
    }

    & .cat-desc {
        color: var(--subtext-color);
        text-wrap: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

.post-item {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    overflow-x: hidden;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-1);
    padding: 15px 20px;

    & a {
        text-decoration: none;
        color: black;
        text-wrap: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        &:hover {
            text-decoration: underline;
        }
    }

    & .post-name-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & .post-name {
        font-size: var(--large-text-6);
    }

    & .post-preview {
        color: var(--subtext-color);
        text-wrap: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    & .tags {
        display: flex;
        gap: 5px;
        align-items: center;
        padding-top: 5px;
    }
}

.search-box-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    & .filters {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
    }
}

.filter-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-2);
    padding: 4px 12px;
    font-size: var(--small-text);
    border: 1px solid var(--border-color);
    user-select: none;
    transition: background-color 80ms, filter 80ms, color 80ms, border-color 80ms;

    &:hover:not(:disabled) {
        cursor: pointer;
    }

    &.active {
        background-color: var(--accent);
        color: var(--accent-text-color);
        border-color: var(--accent);
    }
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-2);
    padding: 2px 8px;
    font-size: var(--xsmall-text);
    background-color: var(--accent);
    color: var(--accent-text-color);
}

.section-marker-container {
    display: flex;
    align-items: center;
    gap: 10px;

    & .marker {
        width: 10px;
        height: var(--large-text-3);
        border-radius: var(--border-radius-3);

        &.green {
            background-color: green;
        }

        &.orange {
            background-color: orange;
        }
    }
}