* {
    margin: 0;

    --border-radius-1: 15px;
    --border-radius-2: 10px;

    --accent: #6396f4;
    --error-color: #bb0000;

    font-family: 'Roboto', sans-serif;
}

.errorText {
    color: var(--error-color);
    font-size: 14px;
}